<div class="container" style="text-align:center">
     <label><h3 class="center" >Interest Calculation</h3></label>

</div>
<br>
<hr>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <div>
        <label><h5>Set the Loan Amount</h5></label>
      </div>
     <input type="range" min="{{minloanAmount}}" max="{{maxloanAmont}}"
      [(ngModel)]="loanValue" (change)="LoanSlider(loanValue)">
     <br>
     
     <input type="input" [(ngModel)]="loanValue" style="width: 40%; color: blue;">
    </div>
    <div class="col-lg-6 col-sm-12">
        <div>
            <label><h5>Set the Month</h5></label>
          </div>
        <input type="range" min="{{minMonth}}" max="{{maxMonth}}"
        [(ngModel)]="MonthValue" (change)="MonthSlider(MonthValue)">
        <br>
     <input type="input" [(ngModel)]="MonthValue" style="width: 40%; color: blue">

    </div>

  </div>

</div>

<br>
<hr>





<div class="container">


<table class="table table-striped" >
    <thead>
      <tr>
        <th scope="col">InterestRate</th>
        <th scope="col">Monthly Payment</th>
        <th scope="col">numPayments</th>
        <th scope="col">Principal</th>
      </tr>
    </thead>
    <tbody *ngFor= "let x of EmiResult" >
      <tr >
        <th scope="row"> {{x.interestRate}}</th>
        <td>{{x.monthlyPayment | json}}</td>
        <td>{{x.numPayments}}</td>
        <td>{{x.principal | json}}</td>
      </tr>
     
    </tbody>
  </table>

</div>